.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
 
}
body {
 
background: url(./img/ground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}


.title {
  color: #663399;
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #663399;
  border-radius: 5px;
}

.btn {
  background-color: #663399;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #008000;
  margin-left: 10px;
}

.task {
  margin-bottom: 10px;
  border: 1px solid #663399;
  border-radius: 5px;
  padding: 10px;
}
.task-done {
  background-color: #e0e0e0;
  text-decoration: line-through;
}


.task-title {
  font-weight: bold;
  color: #663399;
}

.task-description {
  color: #008000;
}

.task-buttons {
  margin-top: 5px;
}

.task-buttons button {
  background-color: #663399;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.task-buttons .btn-danger {
  background-color: #FF0000;
}
